html,
body {
  padding: 0;
  margin: 0;
}

/* content css */

.__tooltip__id {
  position: fixed;
  padding: 5px 7px;
  color: #fff;
  background-color: #333;
  border-radius: 4px;
  font-size: 13px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  transition: opacity 0.3s;
  pointer-events: none; /* 防止 tooltip 阻挡鼠标事件 */
  max-width: 400px; /* 设置 div 的最大宽度 */
  line-height: 1.3;
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* 下尖角效果 */
/* .__tooltip__xxx::before { 
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px; 
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent; 
} */
